<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDbnN1SSuPlmBZBSO2AzEVxlN8hodA-uPA</string>
	<key>GCM_SENDER_ID</key>
	<string>849398075930</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.sports.tabataApp</string>
	<key>PROJECT_ID</key>
	<string>tabataapp-5101a</string>
	<key>STORAGE_BUCKET</key>
	<string>tabataapp-5101a.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:849398075930:ios:858c7a7450adb8d2b237a3</string>
</dict>
</plist>